.fc {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    margin-bottom: 120px;
    margin-top: 90px;

}

.chart {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;

    margin-top: 20px;

}

.first,
.second {
    background-color: #f9f9f9;

    padding: 10px;

    border-radius: 10px;



}

.first h2,
.second h2 {
    margin-top: 0;
    /* Remove margin from the h2 elements */
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ff0808;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.graph-container {
    width: 300px;
    /* Set the width as desired */
    height: 300px;
    /* Set the height as desired */
}